<div id="refresh-this-div" class="col-12 offset-lg-3 col-lg-6 mt-2">
  <div class="card">
    <div class="card-header">
      <h1>Gpt2</h1>
    </div>
    <div class="card-body">
      {% for i in abs_gp %}
      <p>{{ i.val }}</p>
      {% endfor %}
    </div>
    <div class="card-body form-group shadow-textarea">
      <textarea class="form-control z-depth-1" id="my-text-input-id" rows="3"></textarea>
    </div>
    <div class="card-body">
      <button type="submit" class="btn btn-primary" id="add-comment-button">
        Try Again
      </button>
    </div>
  </div>
</div>