<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" /> {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'imagenes/cuygle-icon.jpg' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Cuygle</title>
</head>

<body>
    <header class="header">
    </header>
    <main>
        <section class="main-logo">
            <img src="{% static 'imagenes/CUYGLE-1.png' %}" alt="Cuygle logo" height="500px" />
        </section>
        <form method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <section class="main-input">
                <div class="main-input__container">
                    <span class="input-search-icon"></span>
                    <input type="text" name="query">
                </div>
            </section>
            <section class="main-buttons">
                <div><button type="submit ">Buscar con Cuygle</button></div>
            </section>
        </form>
    </main>
    {% include "ajax_gpt2.html" %}
    <footer class="footer">
        <ul class="footer-center">
            <li><a href="">Stalin Chiguano</a></li>
            <li><a href="">Alfredo Catucuago</a></li>
            <li><a href="">Daniel Dominguez</a></li>
            <li><a href="">Joel Estacio</a></li>
        </ul>
    </footer>
</body>

</html>